<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
{#  <table width="400" border="1">#}
{#    <tr>#}
{#      <td>姓名</td>#}
{#    </tr>#}
{#    {% for jpg in img1 %}#}
{#      <tr>#}
{#        <img src=/{{ jpg.img }}>#}
{#        <td>{{ jpg.img }}</td>#}
{#      </tr>#}
{#    {% endfor %}#}
{# <img src="/static/upload/img1/多云-101.jpg">#}
<img src=/{{ landscape.4.img }}>
<img src=/{{ life.4.img }}>
<img src=/{{ food.4.img }}>
<img src=/{{ happiness.4.img }}>

<img src=/{{ landscape.3.img }}>
<img src=/{{ life.3.img }}>
<img src=/{{ food.3.img }}>
<img src=/{{ happiness.3.img }}>

<img src=/{{ landscape.2.img }}>
<img src=/{{ life.2.img }}>
<img src=/{{ food.2.img }}>
<img src=/{{ happiness.2.img }}>

<img src=/{{ landscape.1.img }}>
<img src=/{{ life.1.img }}>
<img src=/{{ food.1.img }}>
<img src=/{{ happiness.1.img }}>

<img src=/{{ landscape.0.img }}>
<img src=/{{ life.0.img }}>
<img src=/{{ food.0.img }}>
<img src=/{{ happiness.0.img }}>

{#  </table>#}
</body>
</html>